

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 28px;

	color: #f80b3f;

	background: url("../images/dragon.jpg");
  }
  
  html, body {
	height: 100%;
	margin: 0;
  }

  #got-jumbo {
	  background: url("../images/Thrones.jpg");
	  margin-bottom: 10px;
	  padding:20px;

  }
	
	.questionTxt{
	font-size: 28px; }

	#responses
	{font-size: 20px; }

#heading {
	font-weight: bold;
}

/*footer*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
	color: rgb(116, 134, 12);
	text-align: center;
  }

/*form*/
.got-opt {
	margin-right: 20px;
}